body
	color gray
	font-family helvetica
	background-color #333

h1
	margin 5px 0px 15px 0px
h2
	margin 5px 0px 15px 0px

border-radius(n)
	-moz-border-radius n
	border-radius n

fieldset
	margin-bottom 10px
	background-color silver
	border-radius(5px)
	
	legend
		background-color silver
		color:#333;
		border-radius(5px)

#errors
	color red
	padding 5px

#flash
	color lightgreen
	padding 5px

a
	color gray